body {
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 280px;
    margin-bottom: 50px;
    border-radius: 50%;

}

#welcome {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    position: absolute;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: white;
    opacity: 1;
    display: table;
}

h1 {
    font-size: 40px;
    line-height: 1.0;
    font-weight: 300;
}

#bio {
    padding: 50px;
    text-align: center;

    font-size: 42px;
}

.line {
    height: 10px;
    background-color: black;
    width: 80px;
    margin: 50px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
}

.inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.link {
    color: white
    padding-top: 5px; 
    padding-right:9px;
    padding-left:9px;
    padding-bottom:5px;
    float:left;
    font: 20px;
    list-style: none
}
.menu{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    z-index: 9;
    right:30px;
    top:10px;
    cursor: pointer;
    
    
    
}
.link:hover{
    font-size: 25px;
    background-color: blue;
    
    
}